
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form>
    <input class="form-control" type="text" name="llave" placeholder="llave"/>
    <input class="form-control" type="text" name="valor" placeholder="valor"/>
    <button class="btn" type="submit">guardar</button>
</form>

<form>
    <input class="form-control" type="text" name="llave" placeholder="llave"/>
    <button class="btn" type="submit">buscar</button>
</form>

<div class="warning">
    @ViewBag.Message
</div>

